body {
  font-family: 'Gravitas One', cursive;
}

main {
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -300px;
  margin-left: -400px;
}

button:focus {
  outline: none;
}

#thermo-block {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
}

#thermo-block i {
  font-size: 300px;
  height: 300px;
  width: 300px;
  color: white;
  left: 20px;
  top: 10px;
  position: relative;
}

#display {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 300px;
  right: 0;
}

#temperature {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#controls {
  position: absolute;
  top: 500px;
  right: 0;
  height: 100px;
  width: 300px;
}

.chevron {
  font-size: 60px;
  height: 60px;
  width: 60px;
  background: none;
  border: none;
  position: absolute;
}

#up {
  right: 40px;
}

#down {
  left: 40px;
}

.trigger {
  border: none;
  height: 100px;
  width: 250px;
  font-size: 40px;
  line-height: 100px;
  position: absolute;
  background: none;
  font-weight: bold;
  right: 300px;
  text-align: right;
}

#reset {
  bottom: 100px;
}

#power-save-status {
  bottom: 35px;
  left: 10px;
  width: 260px;
  height: 20px;
  position: absolute;
  background-color: green;
}

#power-save {
  bottom: 0;
}

input {
  border: none;
  outline: none;
  background-color: #eee;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  width: auto;
  text-align: center;
}

#weather-display {
  position: absolute;
  left: 0;
  top: 50px;
  width: 500px;
  height: 350px;
  text-align: center;
}
